 
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}
 
.homepage {
    text-align: center;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('homebg.jpg');
    background-size: cover;
    background-position: center;
    color: #333;  
}
.homepage h1 {
    font-size: 36px;
    color: #333;  
    margin-bottom: 10px;
}

.homepage p {
    font-size: 18px;
    color: #555;  
    margin-bottom: 20px;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; /* Relative positioning for pseudo-elements */
}

/* Header's gradient effect */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #333, #222);
    z-index: -1; /* Puts it behind the content */
    opacity: 0.7;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h1::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ff9900;
    margin: 10px auto;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    min-height: 500px; /* Ensures a minimum height for content */
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Portfolio */
.portfolio {
    background-color: #333;
    color: #555;
    padding: 20px;
}

.portfolio-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
    cursor: pointer;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

/* Additional styles for buttons specific to the portfolio section */
.portfolio .button {
    background-color: #ff9900;  
    color: #fff;  
    font-weight: bold;
}

.portfolio .button:hover {
    background-color: #e58100;  
}
/* Contact Form */
.contact {
    background-color: #ccc;
    color: #333;
    padding: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: #333
}
.about {
    text-align: center;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('homebg.jpg');
    background-size: cover;
    background-position: center;
    color: #555;
}

.about h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
}

/* Styles for the skills and resume sections */
.skills {
    margin-top: 40px;
}

.skills h3 {
    font-size: 24px;
    margin-top: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
    margin-left: 480px; /* Add left margin for indentation */
}

.skills li {
    font-size: 18px;
    margin-bottom: 10px;
}

.resume-button {
    margin-top: 40px;
}

.resume-button h2 {
    font-size: 24px;
    margin-top: 20px;
}

.resume-button p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}
